* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a:link,
a:hover,
a:active,
a:visited {
	text-decoration: none;
}

html,
body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 13px; 
}

.main-container {
	height: 100%;
	padding: 0 40px;
}

.under-line {
	position: relative;
}
.under-line:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -.1em;
	left: 25%;
	width: 50%;
	height: .05em;
	background: #2f2f2f;
}

/* home style */

#home {
	position: relative;
	height: 100%;
	margin: 0 -40px;
	overflow: hidden;
}

#home, #home a {
	color: #e7e7e7;
}

/* background */

#home #background {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

#home #background div:after {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: .75;
}

#home #background #wraper {
	width: 100%;
	height: 100%;
	position: relative;
}

#home #background #wraper img {
	position: absolute;
}

/* end background */

/* header */
#home header {
	padding: 15px 40px;
	border-bottom: 1px solid #333;
}

#home header:after {
	content: " ";
	display: block;
	visibility: none;
	clear: both;
}

#home header #logo {
	float: left;
}
#home header #navbar {
	float: right;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
}
#home header #navbar a {
	padding: 0 10px;
	transition: color .5s;
	-moz-transition: color .5s; /* Firefox 4 */
	-webkit-transition: color .5s; /* Safari 和 Chrome */
	-ms-transition: color .5s; /* Opera */
	-o-transition: color .5s; /* Opera */
}
#home header #navbar a:hover {
	color: #999;
	text-shadow: 0 0 1px #999;
}

#home header #navbar #button {
	position: relative;
	display: none;
	float: right;
	width: 2em;
	height: 1em;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
}
#home header #navbar #button:hover {
	cursor: pointer;
}
#home header #navbar #button #bar:before, 
#home header #navbar #button #bar:after {
	content: "";
	display: block;
}
#home header #navbar #button #bar,
#home header #navbar #button #bar:before, 
#home header #navbar #button #bar:after {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
#home header #navbar #button #bar {
	top: 0;
}
#home header #navbar #button #bar:before {
	top: 6px;
}
#home header #navbar #button #bar:after {
	top: 12px;
}

#home header #navbar.expand_menu {
	right: 0 !important;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
#home header #navbar.expand_menu #button {
	left: 0 !important;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
#home header #navbar.expand_menu #button #bar:after {
	display: none;
}
#home header #navbar.expand_menu #button #bar {
	top: 6px;
	transform: rotateZ(45deg);
}
#home header #navbar.expand_menu #button #bar:before {
	top: 0;
	transform: rotateZ(90deg);
}

/* end header */

/* center panel */
#home #center-panel {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 250px;
	margin: -150px -200px;
	text-align: center;
	background-color: rgba(255,255,255,.2);
}

#home #center-panel #title {
	font-family: 'Anton', sans-serif;
}
#home #center-panel #title:before {
	content: "";
	display: block;
	position: absolute;
	width: 410px;
	height: 90px;
	background: transparent;
	border: 10px solid rgba(255,255,255,.2);
	border-bottom: 0;
	margin: -15px;
	z-index: -1;
}

#home #center-panel #sns-buttons:before {
	content: "";
	display: block;
	position: absolute;
	width: 410px;
	height: 80px;
	bottom: 0;
	background: transparent;
	border: 10px solid rgba(255,255,255,.2);
	border-top: 0;
	margin: -15px;
	z-index: -1;
}

#home #center-panel #title {
	font-size: 3em;
	height: 90px;
	line-height: 90px;
}
#home #center-panel #slide-text {
	font-size: 2em;
	height: 80px;
	line-height: 80px;
}
#home #center-panel #sns-buttons {
	height: 80px;
	line-height: 80px;
}
#home #center-panel #sns-buttons a {
	font-size: 1.5em;
	padding: 0 10px;
	color: #8b8b8b;
	transition: color .5s;
	-moz-transition: color .5s; /* Firefox 4 */
	-webkit-transition: color .5s; /* Safari 和 Chrome */
	-ms-transition: color .5s; /* Opera */
	-o-transition: color .5s; /* Opera */
}
#home #center-panel #sns-buttons a:hover {
	color: #fff;
	text-shadow: 0 0 3px #fff;
}

#home #down-button {
	position: absolute;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	font-size: 1em;
	color: #fff;
	opacity: .3;
	bottom: 3em;
	left: 50%;
	margin-left: -.75em;
	border-radius: 999px;
	border: 1px solid rgba(255,255,255,.5);
}
#home #down-button i {
	position: relative;
	animation: arrow 3s ease 1s infinite;
}
#home #down-button:hover {
	cursor: pointer;
	color: #222;
	background: #fff;
	box-shadow: 0 0 30px 0 #fff;
}
#home #down-button:hover i {
	animation: none;
}
@keyframes arrow {
	0% {
		opacity: .3;
		top: -.5em;
	}
	100% {
		opacity: 1;
		top: .5em;
	}
}

/* end center panel*/

/* about style */

#about {
	height: 1000px;
}







/* media query */

@media (max-width: 768px) {
	.main-container {
		padding: 0 20px;
	}
	#home {
		margin: 0 -20px;
	}
	#home header {
		padding: 15px 20px;
	}
	#home header #navbar #links {
		position: absolute;
		padding-top: 3em;
	}
	#home header #navbar #links a {
		display: block;
		width: 100%;
		margin: 10px 0;
		padding: 0;
	}
	#home header #navbar #button {
		display: block;
		float: left;
		left: -66px; /* 20 + 20 + 2em(body font size 13px * 2) */
	}
	#home header #navbar {
		position: absolute;
		float: none;
		height: 100%;
		width: 150px;
		top: 0;
		right: -190px;
		padding: 15px 20px;
		background-color: #000;
		opacity: .8;
		z-index: 999;
	}
}

@media (max-width: 480px) {
}
