* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a:link,
a:hover,
a:active,
a:visited {
	text-decoration: none;
}

html,
body {
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px; 
}

.main-container {
	height: 100%;
	padding: 0 20px;
}
.full-width {
	margin: 0 -20px;
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.main-container > section + section {
	padding-top: 5em !important;
	padding-bottom: 5em !important;
}

.under-line {
	position: relative;
}
.under-line:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -.2em;
	left: 25%;
	width: 50%;
	height: .07em;
	background: #2f2f2f;
}
.under-line.light-line:after {
	background: #999;
}

.section-head {
	text-align: center;
	padding: 0 20px;
}
.section-head .title {
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 1.5em;
	margin-bottom: 2em;
	letter-spacing: 0.1em;
}
.section-head .title .under-line:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -.5em;
	left: 25%;
	width: 50%;
	height: .1em;
	background: #2f2f2f;
}

.section-head .description {
	font-family: 'Noto Serif', serif;
	font-style: italic;
	font-size: 1.2em;
	max-width: 40em; 
	margin: 0 auto 6em;
}

/* home style */

#home {
	position: relative;
	height: 100%;
	overflow: hidden;
}

#home, #home a {
	color: #ccc;
}

/* background */

#home #background {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

#home #background div:after {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: .8;
}

#home #background #wraper {
	width: 100%;
	height: 100%;
	position: relative;
}

#home #background #wraper img {
	position: absolute;
}

/* end background */

/* header */
#home header {
	opacity: .9;
	padding: 25px 40px;
	border-bottom: 1px solid #222;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
}

#home header.fixed {
	background-color: rgba(0,0,0,1);
	padding: 15px 40px;
}

#home header:after {
	content: " ";
	display: block;
	visibility: none;
	clear: both;
}

#home header #logo {
	font-family: 'Anton', sans-serif;
	float: left;
}
#home header #navbar {
	float: right;
	transition: right 1s;
	-moz-transition: right 1s;
	-webkit-transition: right 1s;
	-ms-transition: right 1s;
	-o-transition: right 1s;
}
#home header #navbar a {
	transition: color .3s;
	-moz-transition: color .3s; /* Firefox 4 */
	-webkit-transition: color .3s; /* Safari 和 Chrome */
	-ms-transition: color .3s; /* Opera */
	-o-transition: color .3s; /* Opera */
	letter-spacing: 0.05em;
}
#home header #navbar a~a {
	padding-left: 1em;
}
#home header #navbar a:hover {
	color: #999;
	text-shadow: 0 0 0 1px #c0c0c0;
}

#home header #navbar #button {
	position: relative;
	display: none;
	float: right;
	width: 2em;
	height: 1em;
	transition: left 1s;
	-moz-transition: left 1s;
	-webkit-transition: left 1s;
	-ms-transition: left 1s;
	-o-transition: left 1s;
}
#home header #navbar #button:hover {
	cursor: pointer;
}
#home header #navbar #button #bar:before, 
#home header #navbar #button #bar:after {
	content: "";
	display: block;
}
#home header #navbar #button #bar,
#home header #navbar #button #bar:before, 
#home header #navbar #button #bar:after {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
#home header #navbar #button #bar {
	top: 0;
}
#home header #navbar #button #bar:before {
	top: 9px;
}
#home header #navbar #button #bar:after {
	top: 17px;
}

#home header #navbar.expand_menu {
	right: 0 !important;
	transition: right .5s;
	-moz-transition: right .5s;
	-webkit-transition: right .5s;
	-ms-transition: right .5s;
	-o-transition: right .5s;
}
#home header #navbar.expand_menu #button {
	left: 0 !important;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
#home header #navbar.expand_menu #button #bar:after {
	display: none;
}
#home header #navbar.expand_menu #button #bar {
	top: 6px;
	transform: rotateZ(45deg);
}
#home header #navbar.expand_menu #button #bar:before {
	top: 0;
	transform: rotateZ(90deg);
}

/* end header */

/* center panel */
#home #center-panel {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 400px;
	margin: -200px -250px;
	text-align: center;
	background-color: rgba(255,255,255,0);
	color: #fff;
}
#home #center-panel #title:before {
	content: "";
	display: block;
	position: absolute;
	width: 410px;
	height: 90px;
	background: transparent;
	border: 10px solid rgba(255,255,255,0);
	border-bottom: 0;
	margin: -15px;
	z-index: -1;
}

#home #center-panel #sns-buttons:before {
	content: "";
	display: block;
	position: absolute;
	width: 410px;
	height: 80px;
	bottom: 0;
	background: transparent;
	border: 10px solid rgba(255,255,255,0);
	border-top: 0;
	margin: -15px;
	z-index: -1;
}


#home #center-panel #title {
	font-family: 'Anton', sans-serif;
	font-size: 3em;
	height: 100px;
	line-height: 100px;
}
#home #center-panel #slide-text {
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 2.5em;
	height: 200px;
	line-height: 200px;
}
#home #center-panel #sns-buttons {
	height: 100px;
	line-height: 100px;
}
#home #center-panel #sns-buttons a {
	font-size: 1.5em;
	padding: 0 10px;
	color: #999;
	transition: color .5s;
	-moz-transition: color .5s; /* Firefox 4 */
	-webkit-transition: color .5s; /* Safari 和 Chrome */
	-ms-transition: color .5s; /* Opera */
	-o-transition: color .5s; /* Opera */
}
#home #center-panel #sns-buttons a:hover {
	color: #fff;
}

#home #down-button {
	position: absolute;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	font-size: 1em;
	color: #fff;
	opacity: .5;
	bottom: 4em;
	left: 50%;
	margin-left: -.75em;
	border: 1px solid rgba(255,255,255,.3);
	border-radius: 999px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-ms-border-radius: 999px;
	-o-border-radius: 999px;
}
#home #down-button i {
	position: relative;
	animation: arrow 2s ease 0s infinite alternate;
}
#home #down-button:hover {
	cursor: pointer;
	color: #222;
	background-color: rgba(255,255,255,.7);
	box-shadow: 0 0 50px 0 #ccc;
}
#home #down-button:hover i {
	animation: none;
}
@keyframes arrow {
	0% {
		opacity: 0;
		top: -.5em;
	}
	100% {
		opacity: 1;
		top: .5em;
	}
}

/* end center panel*/

/* about style */

#about {
}

#about #user-picture {
}
#about #user-picture #avatar {
	border-radius: 999px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-ms-border-radius: 999px;
	-o-border-radius: 999px;
	border: 1px solid #222;
	overflow: hidden;
	max-width: 300px;
	margin: 0 auto;
}
#about #user-picture #avatar figure {
	margin: 0;
	height: 0;
	padding-bottom: 100%;
}
#about #user-picture #avatar figure img {
	width: 100%;
}
#about #user-picture #name {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0.05em;
	padding: 1em 0 2em;
}


#about #details #info {
	font-size: 1em;
	line-height: 1.5em;
	text-align: justify;
	word-break: keep-all;
}
#about #details #skills {
	margin: 3em 0 2em;
}
#about #details ul#skills li {
	display: block;
	margin-bottom: 2.5em;
}
#about #details #skills .skill {
}
#about #details #skills .skill .skill-title {
	padding-bottom: 1em;
	font-weight: bold;
}
#about #details #skills .skill .back-bar {
	height: 1em;
	width: 100%;
	background-color: #ccc;
}
#about #details #skills .skill .front-bar {
	position: relative;
	height: 1em;
	width: 90%;
	background-color: #222;
}
#about #details #skills .skill .front-bar .circle {
	position: absolute;
	right: -.5em;
	width: 1em;
	height: 1em;
	background-color: #fff;
	box-shadow: 0px 0px 0px .5em rgba(22,22,22,0.5);
	/*
	border: .5em solid rgba(2,2,2,.5);
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	*/
	border-radius: 999px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-ms-border-radius: 999px;
	-o-border-radius: 999px;
}
#about #details #skills .skill .front-bar .percent {
	position: absolute;
	right: -.7em;
	top: -2.3em;
	padding: 2px;
}

#about #CVdownload {
	padding: .5em 1.5em;
	border: 1px solid #222;
	width: 7em;
	text-align: center;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
#about #CVdownload a {
	color: #222;
	transition: color .5s;
	-moz-transition: color .5s;
	-webkit-transition: color .5s;
	-ms-transition: color .5s;
	-o-transition: color .5s;
}
#about #CVdownload:hover {
	background-color: #222;
}
#about #CVdownload:hover a {
	color: #fff;
}
/* end about style */


/* end services style */
#services {
	background: #eee;
}
#services #items .wraper {
	position: relative;
	top: 0;
	border: 1px solid #222;
	margin: 10px auto;
	padding: 20px 10px;
	text-align: center;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
#services #items .wraper .icon {
	width: 2em;
	height: 2em;
	line-height: 2em;
	margin: 0 auto;
	font-size: 2.5em;
	border: 1px solid #222;
	border-radius: 999px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-ms-border-radius: 999px;
	-o-border-radius: 999px;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
#services #items .wraper .title {
	font-size: 1.2em;
	font-weight: bold;
	margin: 1.5em auto;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
#services #items .wraper .description {
	line-height: 1.5em;
	max-height: 10.5em;
	min-height: 10.5em;
	overflow: hidden;
}
#services #items .wraper .readmore {
	margin-top: 2em;
	font-weight: bold;
}
#services #items .wraper .readmore a {
	color: #222;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
#services #items .wraper .readmore a:hover {
	color: #999;
	text-decoration: underline;
}
#services #items .wraper:hover {
	top: -1em;
	box-shadow: 0 0 0 1em #222;
}
#services #items .wraper:hover .icon {
	box-shadow: 0 0 0 .2em #222;
}
#services #items .wraper:hover .title {
	letter-spacing: .1em;
}

/* end services style */

/* reviews style */
#reviews {
	background-color: #222;
	color: #777;
	font-family: 'Open Sans', sans-serif;
	padding: 2em 0 !important;
}
#reviews .section-head .description {
	margin-bottom: 0;
}
#reviews .reviews {
	margin-top: 5em;
}
#reviews .reviews .review {
	margin: 1em auto;
}
#reviews .reviews .review .avatar {
	border-radius: 999px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-ms-border-radius: 999px;
	-o-border-radius: 999px;
	overflow: hidden;
	max-width: 150px;
	border: 1px solid #555;
}
#reviews .reviews .review .avatar figure {
	margin: 0;
	height: 0;
	padding-bottom: 100%;
}
#reviews .reviews .review .avatar figure img {
	width: 100%;
}
#reviews .reviews .review .avatar-wraper {
	position: relative;
}
#reviews .reviews .review .avatar-wraper:after {
	content: "";
	display: block;
	position: absolute;
	width: 40px;
	right: -20px;
	top: 50%;
	border-bottom: 1px solid #555;
}
#reviews .reviews .review .message {
	background-color: #333;
	border: 1px solid #555;
	padding: .5em;
	line-height: 1.3;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
/* end reviews style */


/* portfolio style */
#portfolio .items {
	padding: 10px !important;
}
#portfolio .items .item {
	padding: 10px;
}
#portfolio .items .item figure {
	position: relative;
	margin: 0;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
#portfolio .items .item figure img {
	position: absolute;
	display: block;
	width: 100%;
}
#portfolio .items .item figure .cover-wraper {
	padding: 1em;
}
#portfolio .items .item figure .cover-wraper .cover {
	position: relative;
	text-align: center;
	top: 0;
	left: 0;
	height: 0;
	padding-bottom: 100%;
	z-index: 998;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	opacity: 0;
}
#portfolio .items .item figure .cover .title {
	color: #ccc;
	position: relative;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	top: -3em;
	opacity: 0;

}
#portfolio .items .item figure .cover .link i {
	display: block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	border: 1px solid #999;
	color: #999;
	margin: 1em auto;
	border-radius: 999px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-ms-border-radius: 999px;
	-o-border-radius: 999px;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	position: relative;
	top: 3em;
	opacity: 0;
}
#portfolio .items .item figure .cover-wraper .cover .title {
	padding-top: 40%;
}
#portfolio .items .item figure:hover {
	cursor: pointer;
}
#portfolio .items .item figure:hover .cover-wraper .cover {
	background-color: rgba(0,0,0,.7);
	opacity: 1;
}
#portfolio .items .item figure:hover .link i {
	top: 0;
	opacity: 1;
}
#portfolio .items .item figure:hover .title {
	top: 0;
	opacity: 1;
}
#portfolio .items .item figure .cover .link i:hover {
	color: #ccc;
	background-color: rgba(255,255,255,.2);
}

/* end portfolio style */

/* blog style */
#blog {
	background-color: #eee;
}
#blog #posts .post {
	margin-bottom: 40px;
}
#blog #posts .post .post-image {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#blog #posts .post .post-image img {
	width: 100%;
}
#blog #posts .post .post-title {
	margin-top: 1em;
	font-size: 1.2em;
	font-weight: bold;
	overflow: hidden;
}
#blog #posts .post .post-meta {
	font-style: italic;
	margin: 1em -.5em;
}
#blog #posts .post .post-meta span {
	padding: .5em;
}
#blog #posts .post .post-excerpt {
	line-height: 1.3;
	text-align: justify;
}
#blog #posts .post .post-readmore {
	margin-top: 2em;
	font-weight: bold;
}
#blog #posts .post .post-readmore a {
	color: #222;
}
#blog #posts .post .post-readmore i {
	padding-left: .5em;
	position: relative;
	left: 0;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
#blog #posts .post .post-readmore:hover i {
	left: .5em;
}
#blog #posts .post .post-readmore:hover a {
	color: #555;
}

/* end blog style */

/* contact style */
#contact {
	width: 70%;
	margin: 0 auto;
}
#contact #contact-form .text {
	margin: 7em auto 2em;
	text-align: justify;
	line-height: 1.3;
	font-style: italic;
}
#contact form .wraper {
	margin: 1em 0;
}
#contact form input,
#contact form textarea {
	width: 100%;
	margin: 0;
	padding: 1em;
	box-sizing: border-box;
	outline: none;
	border: none;
	border: 1px solid #222;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
#contact form textarea {
	height: 12em;
}
#contact form input::-webkit-input-placeholder,
#contact form textarea::-webkit-input-placeholder {
	font-style: italic;
	transition: color .5s;
	-moz-transition: color .5s;
	-webkit-transition: color .5s;
	-ms-transition: color .5s;
	-o-transition: color .5s;
}
#contact form input:focus::-webkit-input-placeholder,
#contact form textarea:focus::-webkit-input-placeholder {
}
#contact form input[type="submit"] {
	border: 1px solid #222;
	background-color: transparent;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	font-weight: bold;
	letter-spacing: 0.05em;
}
#contact form input:focus,
#contact form textarea:focus {
	background-color: #eee;
	border: 1px solid #222;
}
#contact form input[type="submit"]:hover {
	background-color: #222;
	color: #f2f2f2;
	cursor: pointer;
}
/* end contact style */

/* grid layout */

.container {
	margin: 0 -20px;
}

.row {
	width: 100%;
	padding: 0 -20px;
}
.row:after {
	content: " ";
	display: block;
	visibility: none;
	clear: both;
}
.col-1,
.col-2-1,
.col-3-1,
.col-3-2,
.col-4-1,
.col-4-2,
.col-4-3,
.col-5-1,
.col-5-2,
.col-5-3,
.col-5-4 {
	padding: 0 20px;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
}
.col-1 { width: 100%; }
.col-2-1 { width: 50%; }
.col-3-1 { width: 33.33%; }
.col-3-2 { width: 66.66%; }
.col-4-1 { width: 25%; }
.col-4-2 { width: 50%; }
.col-4-3 { width: 75%; }
.col-5-1 { width: 20%; }
.col-5-2 { width: 40%; }
.col-5-3 { width: 60%; }
.col-5-4 { width: 80%; }


/* media query */

@media (max-width: 768px) {
	body {
		font-size: 18px; 
	}
	/* home style */
	#home {
		margin: 0; /* main-container */
	}
	#home header {
		padding: 15px 20px;
	}
	#home header #navbar {
		position: fixed;
		float: none;
		height: 100%;
		width: 150px;
		top: 0;
		right: -190px;
		padding: 15px 20px;
		background-color: rgba(0,0,0,.9);
	}
	#home header #navbar #links {
		position: absolute;
		padding-top: 3.6em;
	}
	#home header #navbar #links a {
		display: block;
		width: 100%;
		margin: 1em 0;
		padding: 0;
	}
	#home header #navbar #button {
		display: block;
		float: left;
		left: -76px; /* 20 + 20 + 2em(body font size 13px * 2) */
	}
	/* end home style */

	/* layout grid */
	.main-container {
		padding: 0;
	}
	.full-width {
		margin: 0;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.row {
		padding: 0 -40px !important;
	}
	.col-1,
	.sm-col-1 {
		width: 100%;
	}
	.sm-col-4-2 {
		width: 50%;
	}
	.sm-col-2-1 {
		width: 50%;
	}

	#contact {
		width: 100%;
	}

	/* end layout grid */

	button.pswp__button.pswp__button--arrow--left,
	button.pswp__button.pswp__button--arrow--right {
		display: none;
	}

}

@media (max-width: 480px) {
}



/* gallery */

button.pswp__button.pswp__button--arrow--left,
button.pswp__button.pswp__button--arrow--right {
	background-color: transparent;
	border: none;
	color: #999;
	font-size: 2em;
	position: absolute;
	opacity: .7;
	top: 45%;
}
button.pswp__button.pswp__button--arrow--left {
	left: 2em;
}
button.pswp__button.pswp__button--arrow--right {
	right: 2em;
}
button.pswp__button.pswp__button--arrow--left:hover,
button.pswp__button.pswp__button--arrow--right:hover {
	cursor: pointer;
	color: #ccc;
}

.pswp--animate_opacity,
.pswp__bg,
.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right{
    -webkit-transition: opacity 333ms cubic-bezier(.4,0,.22,1);
    transition: opacity 333ms cubic-bezier(.4,0,.22,1);
}
